<h1>Contacts</h1>
    <p>There are <span><%=@size %></span> contacts.</p>
<ul>
  <% @contacts.each do |contact| %>
    <li>
      Full Name: <%= contact.full_name %>
      Email: <%= contact.email %>
      <!-- Notes: <%= contact.note %> -->
      <br><a href="#">Edit</a> | <a href="#">Delete</a>
    </li>
  <% end %>
</ul>
