<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Navi's CRM</title>
  </head>
  <body>
    <%= yield %>

    <section>
      <form action='/contacts/search' method="get">
        <input type="text" name="search" value="">
        <input type="button" value="Search">
      </form>
    </section>

    <main>
      <div>
        <ul>
          <li class ="menu"><a href="<%=@home_page%>">Home Page</a></li>
          <li class ="menu"><a href="<%=@contacts_page%>">Contacts</a></li>
          <li class ="menu"><a href="<%=@about_me_page%>">About Me</a></li>
        </ul>
    </div>
    </main>
  </body>
  <footer>
    <nav>
      Bitmaker 2017
    </nav>

  </footer>
</html>
